<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<body>

    <div class="menu">
    <h2>Selecciona</h2>
    <ul>
        <li>
            <a href="#agregarproductos">
                <img src="/assets/boton-mas.png" width="30" height="30"><span> Agregar </span>
            </a>
        </li>    
    </ul>
</div>
</body>

<div class="tablaa">
    <form>
        <div class="form">
            <div class="encabezado">
                <div class="borde1"><h1>PRODUCTOS</h1></div>
                <div class="imageen"><img src="/assets/productos.png" width="50" height="50"></div>
            </div>
            <div class="grupo">
                <table class="table table-striped table-responsive mt-5">
                    <thead class="tabla">
                    <tr>
                    <th scope="col" id="dise">Nombre</th>
                    <th scope="col" id="dise">Cantidad Disponible</th>
                    <th scope="col" id="dise">Precio Unitario</th>
                    <th scope="col" id="dise">Precio Compra</th>
                    <th scope="col" id="dise">Precio Venta</th>
                    <th scope="col" id="dise">Fecha Caducidad</th>
                    <th scope="col" id="dise">Imagen</th>
                    <th scope="col" ></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let invent of inventarios">
                    <td> {{invent.nombre}} </td>
                    <td> {{invent.cantidad}} </td>
                    <td> {{invent.preciou}} </td>
                    <td> {{invent.precioc}} </td>
                    <td> {{invent.preciov}} </td>
                    <td> {{invent.fecha | date: 'dd-MM-yyyy'}} </td>
                    <td> <img class="img" src="{{invent.imagen}}"> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <i [routerLink]="['/actualizarproductos', invent._id]" routerLink="actualizarproductos" class="fas fa-edit text-primary"></i>
                        <i (click)="deleteInventario(invent._id)" class="fas fa-trash text-danger"></i>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                    </div>
    </form>
</div>