:root {
    --colorTextos: #49454567;
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.encabezado{
   column-count: 2;  
}
.imageen{
    margin-left: 28%;
}
.borde1{
    margin-left:50% ;
    width:90%;
    height:50px;
   text-align: center;
   
}
.tabla{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    justify-content: center;
}
table{
    margin:5%;
}
h1{
    text-align: center;
    font-weight: 400;
    color: #17055e;
    font-size: 2.5em;
    font-weight: 900;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

form{
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(15, 19, 75, 0.8);
    border-radius: 10px;
    width: 95%;
    height: 10%;
    margin-top: 5%;
}

.form{
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 5px ;
}

.fas{
    cursor: pointer;
    margin-left: 7px;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #e9e1b4, #4568DC);
    transition: 0.3s ease width;
    left: 0;
}
input:focus~.barra::before{
    width: 100%;
}
#dise{
    width: 200px;
    height: 40px;
    background-color: rgb(246, 228, 28);
}
@media screen and (max-width:3000px){
    form{
        height:auto;
    }
}
.tablaa{
    margin-left: 20%;
}
/*DISEÑO MENÚ*/
body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.menu{
    position: fixed;
    background-color: rgb(78, 119, 152);
    width: 250px;
    height: 100%;
    margin-top: -3%;
    left: 1%;
    z-index: 1;
}
.menu ul li{
    margin: 25px 0;
    list-style: none;
}
.menu ul li a{
    color: #000000;
    padding: 0 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.menu h2{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px;
    background-color: #01315e;
}
.menu ul li a:hover{
    color: #000000;
    margin-left: 20px;
    transition: 0.4s;
}

input.buscador{
    padding: 0px 10px;
    outline: none;
    font-size: 18px;
    border-radius: 0px 50px 50px 0px;
    color: #444;
    border: 3px solid #d9dae6;
    background-color: #fff;
    height: 40px;
    width: 150px;
    margin-left: 25%;
    
}
.boton{
    border-radius: 50px 0px 0px 50px;
    background-color: #4568DC;
    border: 3px solid #d9dae6;
    margin-left: -75%;
    }
.busca{
    margin-left: 1%;
    display: flex;
}
::placeholder{
    text-align: center;
}
.busca button:hover{
    background-color: #d9dae6;
}

.img{
    height: 70px;
    width: 100px; 
}

td{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}