<section>
    <div>
        <h1>Registrar Productos</h1>
        
        <label>Nombre:</label>
        <input type="text" [(ngModel)]= "inventarioo.nombre" [ngModelOptions]="{standalone: true}"><br><br>
            
        <label>Cantidad Disponible:</label>
        <input type="number" [(ngModel)]= "inventarioo.cantidad" [ngModelOptions]="{standalone: true}"><br><br>
            
        <label>Precio Unitario:</label>
        <input type="number" [(ngModel)]= "inventarioo.preciou" [ngModelOptions]="{standalone: true}"><br><br>
            
        <label>Precio Compra:</label>
        <input type="number" [(ngModel)]= "inventarioo.precioc" [ngModelOptions]="{standalone: true}"><br><br>
           
        <label>Precio Venta:</label>
        <input type="number" [(ngModel)]= "inventarioo.preciov" [ngModelOptions]="{standalone: true}"><br><br>
            
        <label>Fecha Caducidad:</label>
        <input type="date" [(ngModel)]= "inventarioo.fecha" [ngModelOptions]="{standalone: true}"><br><br>
            
        <label>Imagen:</label>
        <input type="file" name="file" (change)="onFileSelected($event)" ><br><br>
            
        <button (click)="addInventario()">Agregar</button>

    </div>
</section>
