<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<body>
    <div class="menu">
    <h2>Selecciona</h2>
    <ul>
        <li>
            <a href="#agregarproveedores">
                <img src="/assets/boton-mas.png" width="30" height="30"><span> Agregar </span>
            </a>
        </li>  
    </ul>
</div>
</body>

<div class="tablaa">
    <form>
        <div class="form">
            <div class="encabezado">
                <div class="borde1"><h1>PROVEEDORES</h1></div>
                <div class="imageen"><img src="/assets/proveedor.png" width="50" height="50"></div>
            </div>
            
            <div class="grupo">
                <table class="table table-striped table-responsive mt-5">
                    <thead class="tabla">
                    <tr>
                    <th scope="col" id="dise">Nombre</th>
                    <th scope="col" id="dise">Teléfono</th>
                    <th scope="col" id="dise">Dirección</th>
                    <th scope="col" id="dise">Email</th>
                    <th scope="col" id="dise">Producto</th>
                    <th scope="col"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let provee  of proveedores">
                    <td>{{provee.nombre}}</td>
                    <td>{{provee.telefono}}</td>
                    <td>{{provee.direccion}}</td>
                    <td>{{provee.email}}</td>
                    <td>{{provee.producto}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <i [routerLink]="['/actualizarproveedores', provee._id]" routerLink="actualizarproveedores" class="fas fa-edit text-primary"></i>
                        <i (click)="deleteProveedor(provee._id)" class="fas fa-trash text-danger"></i>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                    </div>
    </form>
</div>