<header>
    <nav>
            <ul>
                <li><a routerLink="home">Inicio</a></li>
                <li><a routerLink="mostrarproductos">Productos</a></li>
                <li><a routerLink="mostrarventas">Ventas</a></li>
                <li><a routerLink="mostrarinventario">Inventario</a></li>
                <li><a routerLink="mostrarproveedores">Proveedores</a></li>
            </ul>
    </nav>
</header>
