header{
    background-color: rgb(76, 102, 169);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding:  5px 10%;
}
span{
    justify-content:left;
}
nav{
    list-style: none;
}
nav li{
    display: inline-block;
    padding: 0 20px;
}
nav a{
    font-size: 20px;
    color: rgb(245, 245, 246);
    text-decoration: none;
}
nav li:hover{
    transform: scale(1.1);
    background-color: aliceblue;
    border-radius: 50px;
    padding: 9px 25px;
}
nav li a:hover{
   color:rgb(19, 20, 20);
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}