:root {
    --colorTextos: #49454567;
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.encabezado{
   column-count: 2;  
}
.imageen{
    margin-left: 25%;
}
.borde1{
    margin-left:52% ;
    width:90%;
    height:50px;
   text-align: center;
   
}
.tabla{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    justify-content: center;
}
table{
    margin:2%;
    
}
h1{
    text-align: center;
    font-weight: 400;
    color: #17055e;
    font-size: 2.5em;
    font-weight: 900;
    justify-content: center;
}

form{
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(15, 19, 75, 0.8);
    border-radius: 10px;
    width: 95%;
    height: 10%;
    margin-top: 5%;
}

.form{
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 5px ;
}

.fas{
    cursor: pointer;
    margin-left: 7px;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #e9e1b4, #4568DC);
    transition: 0.3s ease width;
    left: 0;
}
input:focus~.barra::before{
    width: 100%;
}
#dise{
    width: 140px;
    height: 40px;
    background-color: rgb(107, 106, 98);
}
@media screen and (max-width:3000px){
    form{
        height:auto;
    }
}
.tablaa{
    margin-left: 5%;
    margin-right: 5%;
}
.info{
    margin-top: 3%;
    text-align: center;
    color: #17055e;
}
button{
    margin-top: 15px;
    font-family: 'roboto';
    background-color: rgb(14, 32, 81);
    border-radius: 20px;
    border-color: rgb(14, 32, 81);
    width: 150px;
    margin-left: 50px;
    color: #ffff;
    height: 40px;
    font-size: 16px;
}
button:hover{
    background-color: #7077c3;
    color: black;
    border-color:#7077c3;
}