<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<body>
    <div class="menu">
    <h2>Selecciona</h2>
    <ul>
        <li>

            <a href="#agregarventas">
                <img src="/assets/boton-mas.png" width="30" height="30"><span> Agregar </span>
            </a>
        </li>
        <li>
            <a href="#ventaspordia">
                <img src="/assets/ventas.png" width="30" height="30"><span> Ventas por día </span>
            </a>
        </li>
        <li>
            <a href="#ventaspormes">
                <img src="/assets/ventas.png" width="30" height="30"><span> Ventas por mes</span>
            </a>
        </li>
    </ul>
</div>
</body>

<div class="tablaa">
    <form>
        <div class="form">
            <div class="encabezado">
                <div class="borde1"><h1>VENTAS</h1></div>
                <div class="imageen"><img src="/assets/punto-de-venta (2).png" width="50" height="50"></div>
            </div>
            <div class="grupo" *ngFor="let pro of ventaas">
                <table class="table table-striped table-responsive mt-5">
                    <thead class="tabla">
                    <tr>
                    <th scope="col" id="dise">Producto</th>
                    <th scope="col" id="dise">Cantidad</th>
                    <th scope="col" id="dise">Descuento</th>
                    <th scope="col" id="dise">Pago cliente</th>
                    <th scope="col" id="dise">Cambio</th>
                    <th scope="col" id="dise">Fecha</th>
                    <th scope="col" id="dise">Subtotal</th>
                    <th scope="col" id="dise">I.V.A</th>
                    <th scope="col" id="dise">Tatal pago</th>
                    <th scope="col"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                    <td>{{pro.productos}}</td>
                    <td>{{pro.cantidad}}</td>
                    <td>{{pro.descuento}}</td>
                    <td>{{pro.pago_cliente}}</td>
                    <td>{{pro.cambio}}</td>
                    <td>{{pro.fecha}}</td>
                    <td>{{pro.subtotal}}</td>
                    <td>{{pro.iva}}</td>
                    <td>{{pro.total}}</td>
                    </tr>
                    </tbody>
                    </table>
                    <i (click)="deleteVenta(pro._id)" class="fas fa-trash text-danger"></i>
                    </div>  
                    </div>
    </form>
</div>