h1{
    margin-top: -3%;
    text-align: center;
    color: rgb(10, 10, 122);
    margin-bottom: 8%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section{
    margin-top: 15%;
    margin-bottom: 10%;
    font-size: 20px;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    background-color:rgb(255, 253, 252);
    padding: 70px 130px;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 rgba(63, 50, 117, 0.8);
}
input{
    background: none;
    color: #545353;
    padding: 6px 6px 6px 6px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid rgb(35, 30, 31);
}
button{
    font-family: 'roboto';
    background-color: rgb(14, 32, 81);
    border-radius: 20px;
    border-color: rgb(14, 32, 81);
    width: 100%;
    margin: 10px auto;
    color: #ffff;
    height: 40px;
    font-size: 16px;
}
label{
    width: 100px;
    display: inline-block;
}
button:hover{
    background-color: #7077c3;
    color: black;
    border-color:#7077c3;
}