<section>
    <div>
        <h1>Registrar Proveedor</h1>
        <label>Nombre:</label>
        <input type="text" [(ngModel)]= "proveedor.nombre" [ngModelOptions]="{standalone: true}"><br><br>
        <label>Teléfono:</label>
        <input type="tel" [(ngModel)]= "proveedor.telefono" [ngModelOptions]="{standalone: true}"><br><br>
        <label>Dirección:</label>
        <input type="text" [(ngModel)]= "proveedor.direccion" [ngModelOptions]="{standalone: true}"><br><br>
        <label>Email:</label>
        <input type="email" [(ngModel)]= "proveedor.email" [ngModelOptions]="{standalone: true}"><br><br>
        <label>Producto:</label>
        <input type="text" [(ngModel)]= "proveedor.producto" [ngModelOptions]="{standalone: true}"><br><br>
        <button (click)="addProveedor()">Registrar</button>
    </div>
</section>