<div class="icoon">
    <img src="/assets/mensajero.png" width="520" height="350">
    <p class="titulo">VIEJOS PANZONES</p>
</div>
<div class="diseño">
    <div class="filauno">
        <div id="diseñocjauno">
            <a href="#mostrarproductos">
                <div><img src="assets/productos.png" width="220" height="170"></div>
                <p id="titulo">Productos</p>
            </a>
        </div>
            
        <div id="diseñocjauno">
            <a href="#mostrarventas">
                <div><img src="assets/punto-de-venta.png" width="220" height="170"></div>
                <p id="titulo">Ventas</p>
            </a>
        </div>
    </div>

    
    <div class="filados">
        <div id="diseñocjados">
            <a href="#mostrarinventario">
                <div><img src="assets/inventario.png" width="220" height="170"></div>
                <p id="titulo">Inventario</p>
            </a>
        </div>

        <div id="diseñocjados">
            <a href="#mostrarproveedores">
                <div><img src="assets/proveedor.png" width="220" height="170"></div>
                <p id="titulo">Proveedores</p>
            </a>
        </div>
    </div>
</div>