.filauno{
    display: flex;
    margin-left: 45%;
}
.filados{
    display: flex;
    margin-left:45%;
}
.diseño{
    margin-top: -43%;
}
#diseñocjauno:hover{
    transform: scale(1);
    background-color: rgb(227, 248, 110);
    border-radius: 5%; 
}
#diseñocjados:hover{
    transform: scale(1);
    background-color: rgb(227, 248, 110);
    border-radius: 5%; 
}
#diseñocjauno{
    text-align: center;
    background-color: rgb(194, 208, 245);
    width: 40%;
    height: 55%;
    padding:2%;
    margin-right: 2%;
    border-radius: 5%;
    box-shadow: 0 0 6px 0 rgba(63, 50, 117, 0.8);
}
a{
    text-decoration: none;
}

#diseñocjados{
    margin-top: 5%;
    text-align: center;
    background-color: rgb(194, 208, 245);
    width: 40%;
    height: 55%;
    padding:2%;
    margin-right: 2%;
    border-radius: 5%;
    box-shadow: 0 0 6px 0 rgba(63, 50, 117, 0.8);
}
#titulo{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.icoon{
    margin-top: 10%;
}
.icoon p{
    margin-left: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    
}