.texto{
    margin-left: 13px;
    margin-top: 2%;
    margin-bottom: -2%;
    text-align: left;
    font-size: 10px;
    color: rgb(21, 66, 39);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.columna{
    text-align: center;
    padding:1%;
    margin-right: 2%;
    border-radius: 5%;
    box-shadow: 0 0 6px 0 rgba(63, 50, 117, 0.8);
    margin-bottom: 10%;
}
.container{
    margin-top: 50px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}
.imganen
{
    margin-left: 13px;
    margin-top:-15px;
}
.col:hover{
    transform: scale(1);
    background-color: rgb(227, 248, 110);
    border-radius: 5%; 
}
button{
    font-family: 'roboto';
    background-color: rgb(14, 32, 81);
    border-radius: 20px;
    border-color: rgb(14, 32, 81);
    margin: 10px auto;
    color: #ffff;
    font-size: 10px;
}
button:hover{
    background-color: #7077c3;
    color: black;
    border-color:#7077c3;
}