<div class="container">
        <div class="columna" *ngFor="let producto of inventarios">
            <img class="imagen" src={{producto.imagen}} width="150" height="150">
            <p class="texto">Producto {{producto.nombre}}</p>
            <p class="texto">Precio ${{producto.preciov}} </p>
            <p></p>
        </div>
</div>