<div class="info">
    <label>Día:</label><input type="date" [(ngModel)]="fecha" (change)="Filtro()">
</div>
<div class="tablaa">
    <form>

        <div class="form">
            <div class="encabezado">
                <div class="borde1"><h1>VENTA POR DÍA</h1></div>
                <div class="imageen"><img src="/assets/punto-de-venta (2).png" width="50" height="50"></div>
            </div>
            <div class="grupo">
                <table class="table table-striped table-responsive mt-5">
                    <thead class="tabla">
                    <tr>
                    <th scope="col" id="dise">Producto</th>
                    <th scope="col" id="dise">Cantidad</th>
                    <th scope="col" id="dise">Descuento</th>
                    <th scope="col" id="dise">Pago cliente</th>
                    <th scope="col" id="dise">Cambio</th>
                    <th scope="col" id="dise">Fecha</th>
                    <th scope="col" id="dise">Subtotal</th>
                    <th scope="col" id="dise">I.V.A</th>
                    <th scope="col" id="dise">Tatal pago</th>
                    <th scope="col"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let v of ventasF">
                        <td>{{v.productos}}</td>
                        <td>{{v.cantidad}}</td>
                        <td>{{v.descuento}}</td>
                        <td>{{v.pago_cliente}}</td>
                        <td>{{v.cambio}}</td>
                        <td>{{v.fecha}}</td>
                        <td>{{v.subtotal}}</td>
                        <td>{{v.iva}}</td>
                        <td>{{v.total}}</td>
                    <td>
                        <i  class="fas fa-edit text-primary"></i>
                        <i  class="fas fa-trash text-danger"></i>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                    </div>
    </form>
</div>