/*DISEÑOS PARTE CALCULOS*/
.tituloo{
    margin-top: 3%;
    margin-bottom: 25px;
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.tododatos{
    margin-left: 19%;
}
#datosuno{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    display: inline-block;
    color: #0f053b;
}
#datosuno label{
    width: 120px;
    display: inline-block; 
}
#datosdos{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    display: inline-block;
    color: #0f053b;
}
#datosdos label{
    width: 120px;
    display: inline-block;
}
#datosdos input{
    padding: 6px 6px 6px 6px;
    background: none;
    color: #545353;
    border: none;
    border-bottom: 1px solid rgb(35, 30, 31);
}
#datosuno input{
    padding: 6px 6px 6px 6px;
    background: none;
    color: #545353;
    border: none;
    border-bottom: 1px solid rgb(35, 30, 31);
}
#datosdos button{
    margin-top: 15px;
    font-family: 'roboto';
    background-color: rgb(14, 32, 81);
    border-radius: 20px;
    border-color: rgb(14, 32, 81);
    width: 150px;
    margin-left: 65px;
    color: #ffff;
    height: 40px;
    font-size: 16px;
}
.fecha{
    margin-bottom: 2%;
    color: #17055e;
    margin-left: 2% ;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;

}
section label{
    width: 110px;
    display: inline-block;
}
section input{
    width: 90px;
    background: none;
    color: #090909;
    border: none;
    border-bottom: 1px solid rgb(35, 30, 31);
}
.agregarbtn{
    font-family: 'roboto';
    background-color: rgb(14, 32, 81);
    border-radius: 20px;
    border-color: rgb(14, 32, 81);
    width: 200px;
    margin-left: 30%;
    color: #ffff;
    height: 40px;
    font-size: 16px;
}

/*DISEÑO PARTE DE PRODUCTOS Y TABLA*/
.bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* ajusta a 4 columnas de igual tamaño */
    grid-gap: 5px;
}

/*DISEÑOS PARTE PRODUCTOS*/
section .texto{
    margin-left: 13px;
    margin-top: 2%;
    margin-bottom: -2%;
    text-align: left;
    font-size: 15px;
    color: rgb(21, 66, 39);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
section .columna{
    text-align: center;
    padding:1%;
    margin-right: 2%;
    border-radius: 5%;
    box-shadow: 0 0 6px 0 rgba(63, 50, 117, 0.8);
    margin-bottom: 10%;
}

section .container{
    margin-top: 50px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* ajusta a 4 columnas de igual tamaño */
    grid-gap: 5px;
}

section button{
    font-family: 'roboto';
    background-color: rgb(14, 32, 81);
    border-radius: 20px;
    border-color: rgb(14, 32, 81);
    margin: 10px auto;
    color: #ffff;
    font-size: 15px;
    width: 50%;
}
section button:hover{
    background-color: #7077c3;
    color: black;
    border-color:#7077c3;
}

/* DISEÑO TABLA*/
.tablaa :root {
    --colorTextos: #49454567;
}
*,
.tablaa ::before,
.tablaa ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tablaa .encabezado{
   column-count: 2;  
}
.tablaa .imageen{
    margin-left: 39%;
}
.tablaa .borde1{
    margin-left:40% ;
    width:90%;
    height:50px;
    text-align: center; 
}
.tablaa .tabla{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    justify-content: center;
}
.tablaa table{
    margin:2%;
}
.tablaa h1{
    text-align: center;
    color: #17055e;
    font-size: 2.5em;
    font-weight: 900;
    justify-content: center;
}

.tablaa form{
    background: #d2def7;
    padding: 40px 0;
    border-radius: 10px;
    width: 100%;
    height: 10%;
    margin-top: 5%;
    margin-left: -5%;
}

.tablaa .form{
    margin: auto;
}

.tablaa form .grupo{
    position: relative;
    margin: 5px;
    margin-left: 6%;
}

.tablaa .fas{
    cursor: pointer;
    margin-left: 7px;
}

.tablaa .barra{
    position: relative;
    display: block;
    width: 100%;
}

.tablaa .barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #e9e1b4, #4568DC);
    transition: 0.3s ease width;
    left: 0;
}
.tablaa input:focus~.barra::before{
    width: 100%;
}
.tablaa #dise{
    width: 110px;
    height: 40px;
    background-color: rgb(246, 228, 28);
}
@media screen and (max-width:3000px){
    .tablaa form{
        height:auto;
    }
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

td{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}