<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<h1 class="tituloo">VENTA NUEVA</h1>
<p class="fecha">Fecha: {{f2}}</p>
<div class="tododatos">
    <div id="datosuno">
            <label for="pago_cliente">Pago Cliente</label>
            <input [(ngModel)]="pago_cliente">
            <label for="cambio">Cambio</label>
            <input [(ngModel)]="cambio"  >
            <label  for="subtotal">Subtotal</label>
            <input [(ngModel)]="subtotal" >
    </div>
    <div id="datosdos">
            <label>I.V.A</label>
            <input type="number" [(ngModel)]="iva">
            <label>Total pago</label>
            <input type="number" [(ngModel)]="total" >
            <button (click)="Calcular()">Calcular</button>
    </div>
    <br><br>
    <button class="agregarbtn" (click)="addVenta()">Agregar Venta</button>
</div>

<div class="bottom">
<section>
    <div class="container">
        <div class="columna" *ngFor="let productooo of inventarios">
            <img class="imagen" src={{productooo.imagen}} width="150" height="150">
            <p>Producto: {{productooo.nombre}}</p>
            <p>Precio: {{productooo.preciov}}</p>
            <p>stock: {{productooo.cantidad}}</p>
            <label>Cantidad: </label>
            <input type="number" [(ngModel)]="cantidad">
            <label>Descuento: </label>
            <input type="number" [(ngModel)]="descuento"><br><br>            
            <button (click)="addProducto(productooo)">Agregar</button>
        </div>  
    </div>
</section>

<div class="tablaa">
    <form>
        <div class="form">
            <div class="encabezado">
                <div class="borde1"><h1>PRODUCTOS</h1></div>
                <div class="imageen"><img src="/assets/punto-de-venta (2).png" width="50" height="50"></div>
            </div>
            <div class="grupo">
                <table class="table table-striped table-responsive mt-5">
                    <thead class="tabla">
                    <tr>
                    <th scope="col" id="dise">Producto</th>
                    <th scope="col" id="dise">Cantidad</th>
                    <th scope="col" id="dise">Precio</th>
                    <th scope="col" id="dise">Descuento</th>
                    <th scope="col" id="dise">Subtotal</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let productoos of products;let i=index">
                    <td>{{productoos.producto}}</td>
                    <td>{{productoos.cantidad}}</td>
                    <td>{{productoos.precioov}}</td>
                    <td>{{productoos.descuento}}</td>
                    <td>{{productoos.subtot}}</td>
                    <td></td>
                    <td>
                        <i (click)="deleteProducto(i)"  class="fas fa-trash text-danger"></i>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                    </div>
    </form>
</div>
</div>